input {
  border-radius: 20px;
}
button {
  border-radius: 20px !important;
}
.fontSizeSmall {
  font-size: 9px !important;
}
.myBackgroundStyle {
  background-image: url("../images/background.jpg");
  background-size: cover;
}
.fontColorWhite {
  color: ghostwhite;
}
.tileLayout {
  float: left !important;
}
.buttonSmall {
  height: 10px !important;
}
.clockFontSize {
  font-size: 3rem !important;
}
.temperatureLabel {
  font-size: 2rem !important;
}
.transparentBackground {
  background: linear-gradient(to bottom, #51606d, #c7dff5);
  opacity: 1;
}
.roundedControl {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.95);
  display: inline-block;
  transition-duration: 0.2s;
  /* margin: 0.1rem; */
  border-radius: 25px;
}
