input {
    border-radius: 20px;
    }
button {
    border-radius: 20px !important;
 }
.fontSizeSmall {
    font-size: 9px !important;
 }
.myBackgroundStyle {
   background-image: url('../images/background.jpg');
   background-size: cover;
 }
.fontColorWhite {
    color: ghostwhite;
}
.tileLayout {
	float: left !important;
}
.buttonSmall {
    height: 10px !important;
}
.clockFontSize {
    font-size: 3rem !important;
}
