input {
    border-radius: 20px;
    }
button {
    border-radius: 20px !important;
 }
.fontSizeSmall {
    font-size: 9px !important;
 }
.myBackgroundStyle {
   background-image: url('../images/background.jpg');
   background-size: cover;
 }
.fontColorWhite {
    color: ghostwhite;
}
.tileLayout {
	float: left !important;
}
.buttonSmall {
    height: 10px !important;
}
.clockFontSize {
    font-size: 3rem !important;
}
.transparentBackground {
    background: linear-gradient(to bottom,#51606d,#c7dff5);
    opacity: 1.0;
}
.roundedControl {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	display: inline-block;
	transition-duration: 0.2s;
	margin: 0.2rem;
	border-radius: 15px;
}